<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
		<meta charset="utf-8">
        <title>Study Group</title>
        {% load static %}
        <link href="{% static 'stylesheets/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/group.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/fullcalendar.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'stylesheets/jquery.offcanvas.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'javascript/js_cookie.js'  %}"></script>

        <script src="{% static 'javascript/jquery.min.js' %}"></script>
        <script src="{% static 'javascript/moment.min.js' %}"></script>
        <script src="{% static 'javascript/fullcalendar.js' %}"></script>
        <script src="{% static 'javascript/index.js' %}"></script>
        <script src="{% static 'javascript/bootstrap.js' %}"></script>
        <style>
            body { font-size:14px; }
            
            .offcanvas-inner { min-height:100%;}
            nav { background-color:#AED3D7; color:#000000; height:100%;}
            nav ul, nav li { list-style:none; margin:0; padding:0;}
            nav li { margin:10px 0; padding:20px; border-bottom:1px solid #F0F8FF;}
            nav li a { color:#3c3a3a;}
        </style>   
        <script type="text/javascript">
            $(document).ready(function() {
                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    // put your options and callbacks here
                    events: [
                        {
                            title  : 'event1',
                            start  : '2015-12-01'
                        },
                        {
                            title  : 'event2',
                            start  : '2015-12-05',
                            end    : '2015-12-07'
                        },
                        {
                            title  : 'event3',
                            start  : '2015-12-09T12:30:00',
                            allDay : false // will make the time show
                        }
                    ],
                    eventClick: function(calEvent, jsEvent, view) {

                        alert('Event: ' + calEvent.title);

                        // change the border color just for fun
                        $(this).css('border-color', 'red');

                    }                                               
                })

            });

            function getMyInfoURL(){
                user_id = Cookies.get('user_id');
                window.location = '/user/'+user_id+'/';
            }

            function Group_Member_inf(){
                $('#myContent').empty();
                $.get('/group/{{ group_page_data.group_id }}/member_inf/', function(data){
                    console.log(data);
                });

            }
        </script>
    </head>
    <body>
        <div id="myHeader">
            <nav class="sg-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/index/" class="title"><b>Study Group</b></a>
                    </div>
                    <div id="navbar-user">
                        <a href="#" id="myInfoLink" class="navbar-text" onclick="getMyInfoURL()">My Information</a>
                        <a href="#" class="navbar-text ">Log out</a>
                    </div>
                </div>
            </nav>
            <!-- Another style of navbar -->
            <!--<nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li> 
                    <li><a href="#">Page 3</a></li> 
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  </ul>
                </div>
              </div>
            </nav>-->
        </div>
        <br>
        <div class="exp">
            <b>LV.20</b>
            <div id="user_exp">
                 <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container" id="myContainer">
            <nav class="nav" id="offcanvas">
                {% if group_page_data %}
                {% csrf_token %}
                <ul>
                     <li><b>{{group_page_data.group_name}}</b></li>
                     <li><p>{{group_page_data.intro}}</p></li>
                     <li>
                        <p>Create at {{group_page_data.created_time}}</p>
                        <p>Members: {{group_page_data.member_num}}</p>
                        <p>Members: {{group_page_data.member_num}}</p>
                            {% if group_page_data.private == 0 %}
                             <p>Public group</p>
                                {% else %}
                             <p>Private group</p>
                                {% endif %}
                     </li>
                </ul>
            </nav>
            <button class="btn btn-danger btn-lg js-toggle-offcanvas">
             info
            </button>
            
                <!--
                <div id="mySidebar">
                    <h3>{{group_page_data.group_name}}</h3>
                    <p>{{group_page_data.intro}}</p>
                    <br>
                    <br>
                    <p>Create at {{group_page_data.created_time}}</p>
                    <p>Members: {{group_page_data.member_num}}</p>
                    {% if group_page_data.private == 0 %}
                        <p>Public group</p>
                    {% else %}
                        <p>Private group</p>
                    {% endif %}
                </div>
                -->

               <div id="myBody">

                        <!--
                          <div class="col-md-1 myLink"><a href="#" class="tab">News</a></div>
                          <div class="col-md-1 myLink"><a href="#" class="tab">Schedule</a></div>
                          <div class="col-md-1 myLink"><a href="#" class="tab">Materials</a></div>
                          <div class="col-md-1 myLink"><a href="#" class="tab">Thoughts</a></div>
                          <div class="col-md-1 myLink"><button class="tab" onclick="Group_Member_inf()">Members</button></div>
                    -->
                        <ul class="nav nav-tabs">
                          <li><a href="#">News</a></li>
                          <li><a href="#">Schedule</a></li>
                          <li><a href="#">Materials</a></li>
                          <li><a href="#">Thoughts</a></li>
                          <li><a href="#">Members</a></li>
                        </ul>

                    <br>
                    <div id="myContent">
                                hello
                        <div id="calendar">

                        </div>
                    </div>
                </div>
            {% endif %}

            <div id="myFooter">
                <br>
                <footer>
                    <ul>
                        <li class="copyright" type="none" align="center" style="color: #eee;vertical-align:middle;">Copyright © 2015 Study Group ALL Rights Reserved.</li>
                    </ul>
                    <br clear="space">
                </footer>          
            </div>        
        </div>
        
        <script src="{% static 'javascript/jquery.offcanvas.min.js' %}"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

        <script>
        var $el = $("#offcanvas").offcanvas();
        $(".js-toggle-offcanvas").on("click", function() {
            $el.offcanvas("toggle");
        });
        </script>
    </body>
</html>