<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <title>Study Group</title>
        {% load static %}
        <link href="{% static "stylesheets/bootstrap.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "stylesheets/index.css" %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <button type="button" onclick="creategroup()" >
            create_group
        </button>

        <div id="create_group_form" style="display: none">
          <form action="/index/" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="創建group"/>
        </form>

        </div>



        <nav class="sg-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand" style="color: #dddddd;"><b>Study Group</b></a>
                </div>
            </div>
        </nav>

        <header id="about-us" align="center">
            <div class="header-mask"></div>
            <br id="space">
            <br id="space">
            <div class="header-slogan center">
                <h1>Work Hard And Play Hard</h1>
                <hr>
                <p>We come up with an idea that will help you and your group members to engage in learning together. We provide a platform you can invite your friends or meet someone you do not know to join the study groups and share the same interests. There are some factors related to gamification such as achievement badges, ranking and levels.</p>
            </div>

			<button class="btn btn-success" onclick="checkLoginState();">以FB登入</button>
            <!--div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" scope="user_profile,email" ></div-->
            <div class="arrow-down center" style="margin-top: 24px;">
                <i class="material-icons">keyboard_arrow_down</i></br>
                <i class="material-icons" style="margin-top: -20px;">keyboard_arrow_down</i>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Recommended Groups</h2>
                    <br id="space">
                </div>
                <div class="col-md-12" id="sg-list" align="center">
                </div>
                <!--div class="col-md-12" align="center">
                    <button class="btn btn-success" id="more">Show More</button>
                </div-->
            </div>
        </div>

        <footer>
            <ul>
                <li class="copyright" type="none" align="center" style="color: #eee;vertical-align:middle;">Copyright © 2015 Study Group ALL Rights Reserved.</li>
            </ul>
            <br clear="space">
        </footer>

    </body>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static "javascript/index.js" %}"></script>
    <script src="{% static "javascript/bootstrap.js" %}"></script>
</html>