<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
		<meta charset="utf-8">
        <title>Study Group</title>
        {% load static %}
        <link href="{% static "stylesheets/bootstrap.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "stylesheets/index.css" %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{% static "javascript/js_cookie.js"  %}"></script>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static "javascript/index.js" %}"></script>
        <script src="{% static "javascript/bootstrap.js" %}"></script>



        <script type="text/javascript">
            $(document).ready(function(){
                $("#create_group_button").click(function(){
                    $("#create_group_Modal").modal('show');
                });
            });
            </script>
            <style type="text/css">
                #create_group_button{
                    margin: 20px;
                }
            </style>
    </head>
    <body>





<!--
    要加入判斷使用者是否登入
-->
<div class="create_group">
    <!-- Button HTML (to Trigger Modal) -->
    <button  id="create_group_button" class="btn btn-lg btn-primary">Create Group</button>

    <!-- Modal HTML -->
    <div id="create_group_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Group Name</h4>
                    <input type="text" class="form-control" name="group_name" id="group_name" placeholder="要將讀書會取做什麼呢？">

                </div>
                <div class="modal-body">
                    <div>
                        <label for="introTextarea">Introduction</label>
                        <textarea class="form-control" name="intro" id="intro" rows="3"></textarea>

                    </div>

                    <fieldset>

                        <div class="radio">
                            <div>
                                <label>隱私性</label>

                                <input type="radio" name="private" id="optionsRadios1" value="0" checked>
                                    public

                            </div>

                            <div>
                                <input type="radio" name="private" id="optionsRadios2" value="1">
                                    private
                            </div>
                        </div>
                        </fieldset>

                    <fieldset>
                  <label for="sel1">人數上限 (0為無限制)</label>
                  <select name="member_limit" class="form-control" id="sel1">
                    <option>0</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
              </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="creategroup_submit()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>








        <!--

           需要去判斷 group_private
           是否顯示等等

           -->
        {% if group_data %}
            {% for group in group_data %}
                {% csrf_token %}
                <form action="/group/{{ group.group_id }}" method="GET">
                <ul>
                    <input type="submit" value="Go to this">
                    <li> {{ group.group_id }}</li>
                    <li> {{ group.group_name }}</li>
                    <li> {{ group.created_time }}</li>
                    <li> {{ group.finished_time }}</li>
                    <li> {{ group.member_num }}</li>
                     <li> {{ group.member_limit }}</li>
                    <li> {{ group.intro }}</li>
                    <li> {{ group.private }}</li>
                    <li> {{ group.creator }}</li>
                </ul>
                </form>
            {% endfor %}
        {% endif %}



        <nav class="sg-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand" style="color: #dddddd;"><b>Study Group</b></a>
                </div>
            </div>
        </nav>

        <header id="about-us" align="center">
            <div class="header-mask"></div>
            <br id="space">
            <br id="space">
            <div class="header-slogan center">
                <h1>Work Hard And Play Hard</h1>
                <hr>
                <p>We come up with an idea that will help you and your group members to engage in learning together. We provide a platform you can invite your friends or meet someone you do not know to join the study groups and share the same interests. There are some factors related to gamification such as achievement badges, ranking and levels.</p>
            </div>

			<button class="btn btn-success" onclick="checkLoginState();">以FB登入</button>
            <!--div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" scope="user_profile,email" ></div-->
            <div class="arrow-down center" style="margin-top: 24px;">
                <i class="material-icons">keyboard_arrow_down</i></br>
                <i class="material-icons" style="margin-top: -20px;">keyboard_arrow_down</i>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Recommended Groups</h2>
                    <br id="space">
                </div>
                <div class="col-md-12" id="sg-list" align="center">
                </div>
                <!--div class="col-md-12" align="center">
                    <button class="btn btn-success" id="more">Show More</button>
                </div-->
            </div>
        </div>

        <footer>
            <ul>
                <li class="copyright" type="none" align="center" style="color: #eee;vertical-align:middle;">Copyright © 2015 Study Group ALL Rights Reserved.</li>
            </ul>
            <br clear="space">
        </footer>

    </body>


</html>