<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
		<meta charset="utf-8">
        <title>Study Group</title>
        <link href="../scad/Static/stylesheets/group.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>   
        <!--<div id="myHeader">
            <nav class="sg-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="title"><b>Study Group</b></a>
                    </div>
                    <div id="navbar-user">
                        <a href="#" class="navbar-text">My Information</a>
                        <a href="#" class="navbar-text">Log out</a>
                    </div>
                </div>
            </nav>        
        </div> -->
            <div id="mySidebar">
                <p>Sidebar</p>
            </div>        
        <!--<div id="myContainer">


            <div id="myBody">
                <div id="myTab">
                    <ul class="nav nav-pills">
                      <li role="presentation" class="active"><a href="#">Home</a></li>
                      <li role="presentation"><a href="#">Profile</a></li>
                      <li role="presentation"><a href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
    

            <footer>
                <ul>
                    <li class="copyright" type="none" align="center" style="color: #eee;vertical-align:middle;">Copyright © 2015 Study Group ALL Rights Reserved.</li>
                </ul>
                <br clear="space">
            </footer>                  
        </div>   
      -->




    </body>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../scad/Static/javascript/index.js"></script>
    <script src="../scad/Static/javascript/bootstrap.js" ></script>
</html>